{% extends "base.html" %} {% block title %} Login Page {% endblock %} {% block
container %}
<div class="reg">
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}

    <div class="ttlee">
      <h1>Login</h1>
    </div>

    {% if form.errors %}
    <div class="alert">Please fix the errors below.</div>
    {% endif %} {% if message %}
    <div class="alert">{{ message }}</div>
    {% endif %}
    <div class="usr">
      {{ form.username(placeholder=form.username.label.text) }} {% for error in
      form.username.errors %}
      <div class="alert">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="psw">
      {{ form.password(placeholder=form.password.label.text) }} {% for error in
      form.password.errors %}
      <div class="alert">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="sub">{{ form.submit }}</div>

    <p class="p">
      Don’t Have An Account?
      <a href="{{ url_for('register') }}">Register Here</a>
    </p>
  </form>
</div>
{% endblock %}
